@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", Arial;
}
.body-text {
  font-size: 40px;
  display: block;
  text-align: center;
  text-align: center;
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 90px;
  font-weight:700;
  color: #000;
  background: url( https://www.globaleir.org/wp-content/uploads/2017/10/transparent-white-02-02.png) no-repeat center center;
  padding-top: .5em;
  padding-bottom: .5em;
}
input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  color: #FFF;
  padding-top: .3em;
  padding-left: 3em;
  text-align: left;
  font-size:50px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
/*label:hover {
  color: #FFF;
  transition: color 0.5s;
}*/
#icon {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
   vertical-align: text-top;
  display: inline-block;
  content: "⇣";
  display: inline;
  width: 20px;
  height: 20px;
  margin-left: 500px;
}
#expand {
  height: 100px;
  overflow: hidden;
  transition: height 0.5s;
  background: url(https://www.globaleir.org/wp-content/uploads/2017/10/pexels-photo-164560.jpeg)  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
section {
  padding: 0 30px;
}
#toggle-eco:checked ~ #expand {
  height: 650px;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.5s;
}
#toggle-eco:checked ~ #icon {
  content: "⇡";
}
